manifest {
    name            = 'nf-gwas-diabetes'
    version         = '1.0.0'
    description     = 'A Nextflow GWAS pipeline for diabetes analysis.'
    author          = 'Your Name'
    homePage        = 'https://github.com/yourusername/nf-gwas-diabetes'
    mainScript      = 'main.nf'
    nextflowVersion = '!>=22.10.4'
}

params {
    // Input data
    genotypes_array     = "/CRCh38/ukb_c1-22_GRCh38_full_analysis_set_plus_decoy_hla_merged.{bed,bim,fam}"
    genotypes_imputed   = "/Bulk/Exome sequences/Population level exome OQFE variants, PLINK format - final release/ukb23158_c{1..22}_b0_v1.{bed,bim,fam}"
    phenotypes_filename = "/CRCh38/diabetes_wes_full.phe"
    
    // Analysis parameters
    phenotypes_columns  = "diabetes_cc"
    covariates_columns  = "age,sex,ethnic_group,ever_smoked"
    regenie_test        = "firth"
    
    // QC parameters
    qc_maf              = 0.01
    qc_mac              = 20
    qc_geno             = 0.1
    qc_hwe              = '1e-15'
    qc_mind             = 0.1
    
    // Regenie parameters
    regenie_bsize_step1 = 1000
    regenie_bsize_step2 = 200
    regenie_min_mac     = 3
    regenie_pthresh     = 0.05
    
    // Output directory
    outdir              = '/CRCh38/nf-gwas-output'
}

process {
    executor = 'slurm'
    queue    = 'your_slurm_queue'
}

profiles {
    standard {
        process.container = 'quay.io/genepi/nf-gwas:v1.0.9'
    }
    
    singularity {
        singularity.enabled = true
        singularity.autoMounts = true
    }
}
